/*2017*/

.cs_card {
	box-shadow: 0 0 10px #b3b3b3;
	-moz-box-shadow: 0 0 10px #b3b3b3;
	-webkit-box-shadow: 0 0 10px #b3b3b3;
}
.cs_card_body {
	background:#f2f2f2;
}

.check_status {
	color: red;
	font-size: 13px;
}

.sheet2 {
 	box-shadow: 0 0 10px black;
 	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	z-index:1000;
}

.pointer_cur {
	cursor: pointer;
}

.test_table_container {
	padding: 10px;
}

.cs_call_des {
	font-weight: bold;
}

#cs_call {
	font-size: 14px;	
}

#cs_dropdown {
	background: #f4f4f4;
	box-shadow: 0 0 10px #b3b3b3;
	-moz-box-shadow: 0 0 10px #b3b3b3;
	-webkit-box-shadow: 0 0 10px #b3b3b3;
	padding: 10px;
}

#login_bg {
	 background: url('../img/bg1.jpg') no-repeat;
}

#banner {
	background: url('../img/bgg.jpg') no-repeat;
	padding: 12px;
}

#back_to_tests {
	float: left;
} 

#forward_to_test {
	float: right;
} 

#test_info_container {
	padding: 20px;
}

#testing_container {
	margin-top: 10px;
}

#features {
	 padding: 0;
	 background:#dddfe2;
}